* text=auto eol=lf

# Exclude dev-only files from distribution archives
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.phpcs.xml.dist export-ignore
/.phpstan.neon.dist export-ignore
/.pest.php export-ignore
/.github export-ignore
/.gitlab export-ignore
/composer.lock export-ignore
/phpunit.xml export-ignore
/tests/ export-ignore